.Container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5rem;
  min-height: 100vh;

  h2 {
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
  }

  p {
    font-size: 1.3rem;
    margin-bottom: 2.5rem;
    text-align: center;
  }

  img {
    width: 390px;
    transition: all .5s;
    border: 5px solid transparent;
  }

  img:hover {
    border: 5px solid #440044;
    border-radius: 50%;
  }

  article {
    text-align: center;

    h3 {
      font-size: 2rem;
      text-align: center;
      margin: 1.5rem 0.8rem;
    }
    
    p {
      font-size: 1rem;
      text-align: center;
      margin: 1rem 0;
      max-width: 390px;
    }
  }
  
  .Grid1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    
  }
  
  .Grid2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}