*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%; //15px
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%; //14px
  }
}

a {
  text-decoration: none;
}

body, input, textarea, button {
  font: 500 1rem Inter, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  font-family: Lexend, sans-serif;
}

p {
  font-family: Lexend, sans-serif;
}

strong {
  font-weight: 600;
  font-family: Lexend, sans-serif;
}

button {
  cursor: pointer;
}