.Container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  padding: 5rem;
  min-height: 100vh;
  color: rgb(0, 0, 0);
  
  .title {
    display: flex;  
    width: 100%;
    flex-direction: column;
    justify-content: center;
    max-width: 75rem;
    
    h2 {
      font-size: 3.5rem;
      text-transform: uppercase;
      margin-bottom: 1.5rem;
    }

    p {
      font-size: 1.3rem;
    }
  }

  .TextContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

    img {
      width: 390px;
    }
  }
}