.Container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  padding: 5rem;
  min-height: 100vh;
  color: rgb(0, 0, 0);
  background: rgb(235, 225, 246);
  text-align: center;

  h3 {
    font-size: 2rem;
    text-align: center;
    margin: 1.5rem 0.8rem;
  }
  
  .title {
    display: flex;  
    flex-direction: column;
    justify-content: center;
    max-width: 75rem;
    margin-bottom: 3rem;
    
    h2 {
      font-size: 3.5rem;
      text-transform: uppercase;
    }

    p {
      font-size: 1.3rem;
      text-align: center;
      margin: 1.8rem 0 0 0;
    }
  }

  .TextContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    
    img {
      width: 600px;
      transition: all 0.5s;
      cursor: pointer;
    }
    
    img:hover {
      -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
      filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    }

    article {
      text-align: center;

      p {
        font-size: 1.3rem;
        text-align: center;
        margin: 1rem 0;
        max-width: 600px;
      }
    }
  }
}

@media (max-width: 1366px) {
  .Container {

    .TextContainer {
      grid-template-columns: repeat(2, 1fr);

      img {
        width: 500px;
      }
    }
  }
}

@media (max-width: 900px) {
  .Container {
    .TextContainer {
      display: flex;
      flex-direction: column;
      
      img {
        width: 600px;
      }
  
      article {
  
        p {
          margin: 1rem 0;
          max-width: 600px;
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  .Container {

    .TextContainer {
      display: flex;
      flex-direction: column;

      img {
        width: 680px;
      }
    }
  }
}

@media (max-width: 768px) {
  .Container {

    .title {
      font-size: 2.8rem;
    }
  
    .TextContainer {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 2rem;
      
      img {
        width: 550px;
      }
  
      article {
        text-align: center;
  
        p {
          font-size: 1.3rem;
          text-align: center;
          margin: 1rem 0;
          max-width: 550px;
        }
      }
    }
  }
}

@media (max-width: 620px) {
  .Container {
    .TextContainer {
      
      img {
        width: 450px;
      }

      article {
    
        p {
          max-width: 450px;
        }
      }
    }

  }
}

@media (max-width: 465px) {
  .Container {
  
    .title {
      h2 {
        font-size: 2.8rem;
      }
    }
    .TextContainer {
      
      img {
        width: 350px;
      }
  
      article {
  
        p {
          font-size: 1.2rem;
          margin: 1rem 0;
          max-width: 350px;
        }
      }
    }
  }
}

@media (max-width: 380px) {
  .Container {
    .TextContainer {
      img {
        width: 310px;
      }
    }
  }
}
