.Container {
  background-image: url('../../assets/background.svg');
  margin: 0 auto;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  cursor: pointer;

  .Icons {
    margin-bottom: 0.2rem;

    a {
      i {
        transition: all 300ms ease-in-out;
        font-size: 1.6rem;
        margin: 1rem 1rem 1rem 0;
        color: rgb(255, 255, 255);
      }
  
      i:hover {
        color: rgb(218, 107, 201);
      }
    }
  }

  strong {
    transition: all 300ms ease-in-out;
    font-weight: 600;
    margin: 1rem 0 0 0;
    font-family: Lexend, sans-serif;
    font-size: 1.2rem;
  }

  strong:hover {
    color: rgb(218, 107, 201);
  }
}

div {
  .Top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items:center;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);

    i {
      font-size: 2.4rem;
      color: #440044;
    }
  }
}
