.Container {
  background-image: url('../../assets/background.svg');
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  min-height: 100vh;
  color: rgb(255, 255, 255);
  padding: 5rem;
  
  .title {
    display: flex;  
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 75rem;
    
    h2 {
      font-size: 3.5rem;
      text-transform: uppercase;
      margin-bottom: 1.5rem;
    }

    p {
      font-size: 1.3rem;

    }
  }

  .TextContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    max-width: 75rem;

    h3 {
      font-size: 2.5rem;
      margin-bottom: 2rem;
    }

    p {
      font-size: 1.3rem;
     }
  }
}

@media (max-width: 768px) {
  .Container {
    padding: 3.5rem;

    .title {
      h2 {
        font-size: 3.5rem;
        text-transform: uppercase;
        margin-bottom: 1.5rem;
      }
  
      p {
        font-size: 1.5rem;
        margin-bottom: 3rem;
      }
    }
  
    .TextContainer {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 2rem;
      max-width: 75rem;
  
      h3 {
        font-size: 2.5rem;
        margin-bottom: 2rem;
      }
  
      p {
        font-size: 1.3rem;
       }
    }
  }
}

@media (max-width: 400px) {
  .Container {

    .title {
      h2 {
        font-size: 2.8rem;
      }
  
      p {
        font-size: 1.5rem;
      }
    }
  
    .TextContainer {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
  
      h3 {
        font-size: 2.3rem;
        margin-bottom: 2rem;
      }

      p {
        font-size: 1.2rem;
      }
    }
  }
}